body {
    height: 100%;
    margin: 0;
    padding-bottom: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


.header {
    background-color: white;
    color: black;
    text-align: left;
    position: relative;
    height: 100vh;
    background-image: url(../images/me.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}
.name {
    width: 100%;
    position: absolute;
    left: 0;
    top: 20%;
    margin-left: 2.5%;

}

.name-main{
    font-weight: bold;
    line-height: .7;
    font-size: 75px;
    margin-bottom: 25px;
    color: inherit;
}

.name-summary{
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 40px;
    color: inherit;
    margin-left: 0.65%;
    
}

nav{
    width: 100%;
    height: 50px;
    background-color: rgb(222, 245, 245);
    top: 50vh;
    z-index: 1;
}
nav ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    background-color: rgb(222, 245, 245);
    color: black;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #9fdaff;
}

main {
    height: 100%;
    margin-left: 2.5%;
    padding-bottom: 50pt;    
    
}

.skills {
    height: 100%;
    width: 10em;
    margin-right: 20%;
    float: right;
    text-align: center;
}

.allskills {
    padding: 0
}

.skill {
    list-style-type: none;
    margin-bottom: 1em;
    margin-bottom: 1em;
}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

